.logo{
    width: 12rem;
    height: 3.3rem;
    top: 8%!important;
    bottom: 10% !important;
    margin: 30px 0 !important;
}
.first-h1{
    font-size: 48px;
}

.first-small{
    font-size: 34px;
    color: #E21E26;
    font-weight: 500;
}
.first-div{
    color: #7A7A7A;
    text-align: center;
    margin-top: 10%;
    font-size: 18px;
}